.navbar {
    height: 10vh;
    background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}